[discord]
token = <discord_token>

[raidtargets]
endpoint = http://path/to/raidtarget.json

[guild.12345]
member_role = 77777

[guild.67890]
# Raid Subscription commands will be unusable.
member_role = 0
