[discord]
token = <discord_token>

[sso]
encryption_key = <encryption_key>
ssl_certfile = <path_to_cert_file>
ssl_keyfile = <path_to_key_file>
host = 0.0.0.0
port = 443

[raidtargets]
endpoint = http://path/to/raidtarget.json

[ds]
points_per_minute = 3
contested_multiplier = 3
quake_bonus = 150

[wakeup]
audiofile = wakeup.wav

[guild.12345]
# Member Role is necessary for raidtarget commands to work
member_role = 77777

# Raidtarget, batphone, DS, and SSO commands default to false, but can be enabled:
enable_raidtarget = true
enable_batphone = true
enable_ds = true
ds_tod_channel = <channel_id>
ds_schedule_channel = <channel_id>
ds_admin_role = <role_id>
enable_sso = true
sso_admin_role = <role_id>

# Timer and Random functions default to true, but can be disabled:
enable_timer = false
enable_random = false

# Wakeup channel mappings
wakeup_channels = textchannel_id1:voicechannel_id1, textchannel_id2:voicechannel_id2

[guild.67890]
# Raid Subscription commands will be unusable.
enable_raidtarget = false
