disnake[voice]>=2.12.0
requests
sqlalchemy
sqlalchemy-utils
cryptography
validators
tzdata
python-dateutil
fastapi
uvicorn
websockets
pydantic
alembic
httpx
gspread
google-auth
qrcode[pil]
jinja2
python-multipart
geoip2fast